.button{
  display: inline-block;
  font-size: 14px;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #333333;
  .text{
    color:red;
    &:hover{
      background: #aaaaaa;
    }
  }
}
